.root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.topRight {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
}

.leaderBoard {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 16px;
  border: 1px solid var(--control-border);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
}

.leaderBoardItem {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.damageFlasher {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: var(--tomato-10);
  opacity: 0;
}

.damageFlasherDead {
  opacity: 0.2;
}

.key {
  display: flex;
  border: 1px solid var(--control-border);
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  font-weight: bold;
  position: relative;
  background-color: transparent;
  color: var(--gray-10);
  transition: all 0.2s;
  backdrop-filter: blur(8px);
  border-radius: 1px;
}
.key:focus-visible {
  outline: none;
}

.keyBg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--gray-10);
  opacity: 0;
  transition: all 0.2s;
  outline: none;
}

.keyBgPressed {
  opacity: 0.5;
}

.key:hover {
  color: var(--gray-12);
}

.key:hover .keyBg {
  opacity: 0.3;
}

.arrowKeysOverlay {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.keyboardControlsOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.weaponControlsOverlay {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.weaponRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ammos {
  display: flex;
  gap: 4px;
  align-items: center;
}

.rocket {
  border: 1px solid transparent;
  backdrop-filter: blur(8px);
}

.rocketUsed, .rocketRefilling {
  border-style: dotted;
}

.rocketProgress {
  opacity: 0.5;
  height: 100%;
}