.root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.topRight {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
}

.leaderBoard {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 16px;
  border: 1px solid var(--control-border);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
}

.leaderBoardItem {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}