.menu {
  min-width: 150px;
  outline: none;
}

.menuItem {
  padding: 8px 16px;
  background-color: transparent;
  transition: all 0.2s;
  width: 100%;
  display: block;
}

.menuItem[data-focused] {
  background-color: rgba(255, 230, 41, 0.2);
  outline: none;
}


.popover {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid var(--control-border);
  background-color: transparent;
}

.menuSeparator {
  height: 1px;
  border-top: 1px solid var(--control-border);
  margin: px 8px;
}
@media screen and (max-width: 1024px) {
  .menuItem {
    padding: 24px 24px;
  }
  .menuSeparator {
    margin: 4px 24px;
  }
}