.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.root :global(.react-aria-Input) {
  background: transparent;
  border: 1px solid var(--control-border);
  padding: 8px 16px;
  outline: none;
}
.root :global(.react-aria-Input):hover {
  border-color: var(--control-border-hover);
}
.root :global(.react-aria-Input)[data-focused] {
  border-color: var(--control-border-focused);
}
